html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.fa-edit:before {
    content: "\f044";
}

.fa-delete:before {
    content: "\f1f8";
}

.fa-home:before {
    content: "\f015";
}

.mr-1{
    margin-right:0.5rem;
}.ml-1{
    margin-left:0.5rem;
}

