@{
    ViewData["Title"] = "Home Page";
}


<div class="row justify-content-center">
    <div class="alert alert-info d-flex justify-content-center" role="alert">
        <h4>CRUD Application</h4>
    </div>

    <div class="alert alert-info d-flex justify-content-between" role="alert">
        <h5>New Employee</h5>
        <button type="button" class="btn btn-success button-new-employee">New Employee<i class="fa fa-user-plus ml-1" aria-hidden="true"></i></button>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12 col-12 table-responsive">

        

        <table class="table table-striped" id="tableEmployee" >
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Department</th>
                    <th>Salary</th>
                    <th>Hire Date</th>
                    <th>Actions</th>
                    <!--column to show edit and delete button-->
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>

</div>


<!--MODAL to add or edit an employee-->
<!-- Modal -->
<div class="modal fade" id="modalEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label  class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="txtFullName" autocomplete="off">
                    </div>

                     <div class="mb-3">
                         <label class="form-label">Department</label>
                         <select class="form-select" id="txtDepartment"></select>
                     </div>
                     
                     <div class="mb-3">
                         <label  class="form-label">Salary</label>
                         <input type="number" class="form-control" id="txtSalary">
                     </div>
                     
                     <div class="mb-3">
                         <label class="form-label">Hire Date</label>
                         <input type="text" class="form-control" id="txtHireDate" autocomplete="off">
                     </div>
                </form>

            </div>
            <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                 <button type="button" class="btn btn-primary button-save-changes-employee">Save changes</button>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/js/Index.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

